* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  p {
    margin: 10px 0 0 1px;
    font-size: 12px;
  }
  
  .container {
    background-color: #555;
    height: 400px;
    width: 100%;
    color: #fff;
    font-family: "Nunito Sans";
    display: flex;
    justify-content: space-around;
  }
  
  .container div {
    display: inline-block;
    /* background-color: #ccc; */
  }
  
  .container img {
    display: block;
    margin: 70px auto;
  }
  
  .container .img-side {
    width: 200px;
    height: 150px;
    margin-bottom: 100px;
  }
  
  .container .img-mid {
    width: 150px;
    height: 200px;
    margin-top: 50px;
  }
  
